/*style the navigation bar, reference source is: https://www.simplilearn.com/tutorials/html-tutorial/html-navigation-bar*/
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

/*set some formatting for the placement of the introductory text efor each html links from the navigation bar*/
.introText {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 40px;
  margin-bottom: 40px;
  /*ensure there is space around the text to make it stand out*/
}

/*set a general formating for the entire navigation bar*/
nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  /* min-height: 10vh; */
  background-color: rgb(139, 136, 235);
  font-family: 'Courier New', Courier, monospace;
}

/*format the sections in the datastory*/
/*animation source: https://www.sliderrevolution.com/resources/css-animations-on-scroll/ Full Screen Vertical Scroll Snap*/
html, body, section {
  block-size: 100%;
}

html {
  scroll-snap-type: y mandatory;
}

section {
  scroll-snap-align: start;
  scroll-snap-stop: always;
  
  display: flex;
  align-items: center;
  justify-content: center;
}

section:nth-of-type(even) {
  color: white;
  background: black;
}

section:nth-of-type(odd) {
  color: black;
  background: white;
}

section {
  margin: 0;
  font-family: system-ui, sans-serif;
  font-size: 4rem;
}

.section2{
  font-family: 'Pokemon Solid', sans-serif;                                              
}

/*add styles to the heading in the "Navigation Bar"*/
.navBar {
  display: flex;
  text-decoration-line: overline;
  text-decoration-color: azure;
  color: white;
  font-size: medium;
  font-weight: bold;
  font-display: swap;
}

/*format the links in navigation bar*/
.navLinks {
  display: flex;
  justify-content: space-around;
  width: 30%
}

/*format the sticky navBar when user is scrolling*/
.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

/*add top padding to the navBar*/
.sticky+.navlinks {
  padding-top: 50px;
}

/*set list-style to none to prevent list formatting*/
.navLinks li {
  list-style: none;
}

.navLinks a {
  color: lightgrey;
  font-size: medium;
  font-weight: bold;
  font-display: swap;
  padding: 14px 16px;
}

/*add color for each link when hovering above it*/
.navLinks a:hover:not(active) {
  background-color: rgb(245, 211, 236);
}

/*add color for the lunk that is chosen*/
.navLinks li a.active {
  background-color: rgb(128, 55, 230);
}

/*format the boxForContent, reference: https://linuxhint.com/how-to-make-html-container-box-in-html/*/
.boxForContent {
  display: flexbox;
  padding: 10px;
  margin: 30px 110px;
  text-align: center;
  width: 85%;
  height: 300px;
  border: rgb(139, 136, 235) 5px solid;
}

.pokeball {
  width: 35%;
  margin-left: 33%;
}

.img-center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;;
}

.center {
  display: flex;
  justify-content: center;
}

.regionMap {
  width: 35%;
  padding-bottom: 2%;
}

#image-container {
  display: none;
}

/*format the placement of the image of storyboard*/
#storyboardImage {
  width: 80%;
  margin-left: 10%;
  padding-top: 50px;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 10px;
  padding-top: 2%;
}

.grid-item {
  position: relative;
  overflow: hidden;
  padding-bottom: 100%;
}

.grid-item img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.grid-item button {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 10px;
  background-color: #333;
  color: #fff;
  border: purple;
  outline: none;
  cursor: pointer;
}


/* Now let's apply grid for wider viewports. */
@media screen and (min-width: 40em) {
  .container>* {
    margin-bottom: 0;
  }

  /* Define the grid */
  .container {
    display: grid;
    grid-template-columns: 18% 60% 18%;
    grid-gap: 2% 2%;
    grid-template-rows: 10% auto 10%;
  }

  /* Place items on the grid */
  .header {
    grid-column: 1 / span 3;

  }

  .sidebar {
    grid-row-end: span 2;
  }

  .content {
    grid-column: 2;
  }

}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}

/* The Close Button */
.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

#kantoRadarChart{
  text-align: right;
}

/*style the list of base stats*/
ul.statsList{
  list-style-type: circle;
}